<div class="py-2 px-4">
  <h2 class="text-lg text-center font-bold my-4">Welcome in NodeJS Todos API!</h2>
  <div>
    <p>For this project, I built a very simple Frontend using Angular to visually represent how this API works. I included here only the things required for operation, such as</p>
    <ul class="list-disc px-5">
      <li>Login</li>
      <li>Registration</li>
      <li>Logout</li>
      <li>Cookies forwarding</li>
      <li>Guards</li>
      <li>Interceptor with Automatic JWT refresh</li>
      <li>Todos CRUD</li>
    </ul>
    <p>
      Therefore, this frontend is a brilliant base for expanding this project, or combining it with my other projects related to NodeJS or NestJS API!
    </p>
    <h3>Some Frontend Features</h3>
    <ul class="list-disc px-5">
      <li>installed TailwindCSS</li>
      <li>installed GSAP</li>
      <li>built with good architectural design practices</li>
    </ul>
  </div>
</div>